<header class="header">
	<div class="container">
		<a href="/image/story" class="logo">
			<img th:src="@{/images/logo.jpg}" alt="" src="">
		</a>
		<nav class="navi">
			<ul class="navi-list">
				<li class="navi-item"><a href="/image/story">
						<i class="fas fa-home"></i>
					</a></li>
				<li class="navi-item"><a href="/image/popular">
						<i class="far fa-compass"></i>
					</a></li>
				<li class="navi-item"><a href="/user/profile">
						<i class="far fa-user"></i>
					</a></li>
			</ul>
		</nav>
	</div>
</header>
