<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>

<body>

<header th:include="fragments/header :: header" class="header"></header>

<!--인기 게시글-->
<main class="popular">
	<div class="exploreContainer">

		<!--인기게시글 갤러리(GRID배치)-->
		<div class="popular-gallery">

			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
			<div class="p-img-box">
				<a href="/user/profile"> <img src="/images/home.jpg" />
				</a>
			</div>
		</div>

	</div>
</main>

<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>
